{# Update the markup to how you want it. You have access to any CSS classes available in GOVUK Frontend #}
{% macro content() %}
  <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>

  <div class="govuk-body">
    <p>
      <a class="govuk-link" href="https://www.gov.uk/guidance/contact-defra">
        Contact the Defra Helpline</a> for further assistance.
    </p>
  </div>
{% endmacro %}
